/* Файл css/style.css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
	height: 100%;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background: #f8f9fa;
	height: 100%;
}
.wrapper{
	display: flex;
	flex-direction: column;
	height: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    background: #2c3e50;
    color: white;
    padding: 2rem 0;
    text-align: center;
    margin-bottom: 2rem;
}
.main{
	flex: 1 0 auto;
}

.subtitle {
    font-size: 1.2rem;
    color: #ecf0f1;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    padding: 2rem 0;
}

.gallery-item {
    text-decoration: none;
    color: #2c3e50;
    transition: transform 0.3s ease;
    text-align: center;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}


.gallery-item:hover {
    transform: translateY(-5px);
}

.gallery-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-bottom: 3px solid #3498db;
}

.gallery-item span {
    display: block;
    padding: 1rem;
    font-weight: bold;
    font-size: 1.1rem;
}

.next-link{
    padding-left: 100px;
}

.footer {
	flex: 0 0 auto;
    background: #2c3e50;
    color: white;
    text-align: center;
    padding: 1.5rem 0;
    margin-top: 3rem;
}

@media (max-width: 768px) {
    .gallery {
        grid-template-columns: 1fr;
    }
    
    .gallery-item img {
        height: 150px;
    }

	.content-img{
		width: -webkit-fill-available;
	}
}